

div {
    color: black;
    background-color: red;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    font-family: Cambria;
    width: 150px;
    height: 100px;
    margin: 150px 200px;

    transition:  1s;
}

div:hover {
    transform: rotate(30deg) scale(1.5) translate(50px, 20px) skew(20deg);
}